*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.rakib{
width: 100%;
min-height: 5vh;
padding: 3%;
 background-image: url(other/background.jpg);
background-position: center;
background-size: cover;
display: flex;
text-align: center;
justify-content: center;
}
.search-bar{
    width: 100%;
    max-width: 700px;

    background: rgba(255, 255, 255, 0.2);
    display: flex;
    text-align: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}
.search-bar input{
    background: transparent;
    flex: 1;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: rgb(254, 7, 7);
}
::placeholder{
    color: #cac7ff;
}
.search-bar button img {
    width: 25px;
}
.search-bar button{
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #f70101;
    cursor: pointer;
}
/* box ===============================
====================================== */
.box{
    background-color: aquamarine;
    border-radius: 10px;
    margin: 5%;
    padding: 7%;
    color: rgb(128, 128, 45);
    text-shadow: 1px 0px #fd04c3;
}
.box1{
    background-color: #cac7ff;
    border-radius: 10px;
    margin: 5%;
    padding: 7%;
}
.box2{
    background-color: #7472a9;
    border-radius: 10px;
    margin: 5%;
    padding: 7%;
}
.box3{
    background-color: #4d44f9;
    border-radius: 10px;
    margin: 5%;
    padding: 7%;
}
 